{% extends 'core/base.html' %}
{% load smart_load %}
{% load static %}
{% load cms_tags %}
{% load menu_tags %}
{% load sekizai_tags %}
{% load thumbnail from sorl.thumbnail as sorl_thumbnail %}

{% comment %}
This is only a temporary solution to fit within the dev env. Should be a lot
more generic and reasonably configurable

TODO    Integrate with I18N
TODO    Make configurable and very generic
{% endcomment %}

{% block base_content %}

    <div class="container">
        <!-- Sidebar Links -->
        <div class="col-md-6">
            <ul class="sidebar-nav naked">
                {% show_menu 1 1 0 0 %}
            </ul>

            <ul class="sidebar-nav naked">
                {% show_menu 2 2 0 1 %}
            </ul>
        </div>
        <!-- Ende Sidebar links -->

        <!-- Hauptinhalt -->
        <article class="main-content">
            <div class="col-md-18">
                <h1>Filer Set</h1>

                <p class="date">{{ fset.date }}</p>
                <h2>{{ fset.title }}</h2>
                <h3>{{ fset.description }}</h3>

                <div class="filersets-item-container">
                {% for fitem in fitems %}
                    {% sorl_thumbnail fitem.filer_file.path "845" quality=84 as im %}
                    <img src="{{ im.url }}"
                         alt=""
                         class="img-responsive" />
                    {% endthumbnail %}
                {% endfor %}
                </div>
            </div>
        </article>
        <!-- Ende: Hauptinhalt -->
    </div>

    {% addtoblock "css" %}
    <link href="{% static "filersets/css/filersets.css" %}"
            type="text/css" rel="stylesheet" />
    {% endaddtoblock %}

{% endblock %}