{% extends t_extends %}
{% load i18n %}
{% load static %}

{% comment %}
This is only a temporary solution to fit within the dev env. Should be a lot
more generic and reasonably configurable

TODO    Integrate with I18N
TODO    Make configurable and very generic
{% endcomment %}

{% block base_content %}

    <h1>I Am the Original Template</h1>

    <div class="container">
        <!-- Sidebar Links -->
        <div class="col-md-6">
            <ul class="sidebar-nav naked">
            </ul>

            <ul class="sidebar-nav naked">
            </ul>
        </div>
        <!-- Ende Sidebar links -->

        <!-- Hauptinhalt -->
        {% if fset %}
            <div class="col-md-18">
                <h1>{{ fset.title }}</h1>

                {% for fitem in fitems %}
                    {{ fitem }}
                {% endfor %}
            </div>
        {% else %}
            {# TODO Make all strings configurable #}
            {# TODO What's the translation workflow when User changes text? #}
            {# Maybe better to use DB and model translations in this case #}
            <h1>{% trans "There are currently no filersets to display." %}</h1>
        {% endif %}
        <!-- Ende: Hauptinhalt -->
    </div>

    <link href="{% static "filersets/css/filersets.css" %}"
            type="text/css" rel="stylesheet" />

{% endblock %}