{% extends t_extend %}
{% load smart_load %}
{% load static %}
{% load i18n %}
{% load thumbnail from sorl.thumbnail as sorl_thumbnail %}

{% comment %}
This is only a temporary solution to fit within the dev env. Should be a lot
more generic and reasonably configurable

TODO    Integrate with I18N
TODO    Make configurable and very generic
{% endcomment %}

{% block base_content %}

    <div class="container">
        <!-- Sidebar Links -->
        <div class="col-md-6">
            <ul class="sidebar-nav naked">
            </ul>

            <ul class="sidebar-nav naked">
            </ul>
        </div>
        <!-- Ende Sidebar links -->

        <!-- Hauptinhalt -->
        <article class="main-content">
            <div class="col-md-18">
                <h1>Filer Set</h1>

                <p class="date">{{ fset.date }}</p>
                <h2>{{ fset.title }}</h2>
                <h3>{{ fset.description }}</h3>

                {% for fitem in fitems %}
                    <div class="fs-item-container">
                    {% sorl_thumbnail fitem.filer_file.path "845" quality=89 as im %}
                    <img src="{{ im.url }}"
                         alt=""
                         class="img-responsive" />
                    {% endthumbnail %}
                    </div>
                {% endfor %}
            </div>
        </article>
        <!-- Ende: Hauptinhalt -->
    </div>

    <link href="{% static "filersets/css/filersets.css" %}"
            type="text/css" rel="stylesheet" />

{% endblock base_content %}