{% extends base_extends %}
{% load thumbnail i18n static %}

{% block filersets_set_content %}

    <article class="main-content">

        <p class="date">{{ fset.date }}</p>

        <h1>{{ fset.title }}</h1>

        <h2>{{ fset.description }}</h2>

        {% if perms.filersets.can_edit %}
            <a href="{% url "admin:filersets_set_change" fset.pk %}">(edit)</a>
        {% endif %}

        {% for fitem in fitems %}
            <div class="fs-item-container">
                {% thumbnail fitem.filer_file 845x0 crop="smart" as im %}
                <img src="{{ im.url }}"
                     width="{{ im.width }}"
                     height="{{ im.height }}"
                     alt=""
                     class="img-responsive" />
            </div>

        {% endfor %}

    </article>

    <link href="{% static "filersets/css/filersets.css" %}"
          type="text/css" rel="stylesheet"/>

{% endblock filersets_set_content %}