select.filtered {
  min-height: 240px;
}
.selector-chosen select[multiple=multiple] {
  height: 265px;
}
.title-column,
.description-column {
  width: 230px;
}
.fs_iblock {
  display: inline-block;
}
.fs_list-unstyled {
  list-style-type: none;
  list-style-image: none;
}
.fs_list-unstyled li {
  list-style-type: none;
}
.fs_list-unstyled li[data-level="1"] {
  margin-left: 20px;
}
.fs_list-unstyled li[data-level="2"] {
  margin-left: 40px;
}
.fs_list-unstyled li[data-level="3"] {
  margin-left: 60px;
}
.fs_list-unstyled li[data-level="4"] {
  margin-left: 80px;
}
.ui-state-highlight {
  height: 135px;
  line-height: 1.2em;
  border: 2px dashed rgba(37, 59, 118, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
}
.filename-label {
  font-size: 9px;
  line-height: 1.2em;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  display: inline-block;
  padding: 0 6px;
  color: #969696;
}
a.naked {
  text-decoration: none !important;
  font-size: 9px;
}
.control-group .controls i {
  display: inline-block;
  text-shadow: 1px 1px 1px white !important;
  font-size: 12px;
}
i.fa-times-circle {
  color: #969696;
}
i.fa-check-circle {
  color: lightseagreen;
}
tr.selected i.fa-times-circle,
tr.selected i.fa-check-circle {
  color: white;
}
.column-current_categories {
  width: 205px;
}
td span.label.cat {
  background-color: #f2f2f2;
  color: #787878;
  text-shadow: none;
  border: 1px solid #e9e9e9;
  font-size: 9px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  margin: 3px;
}
td span.label.cat a {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1px 1px 1px 3px;
  font-weight: bold;
  text-decoration: none !important;
  color: #0088cc !important;
}
td span.label.cat a:hover,
td span.label.cat a:active,
td span.label.cat a:focus {
  cursor: pointer;
}
.module ul,
.module ol {
  margin: 0;
}
.module p,
.module ul,
.module h3,
.module h4,
.module dl,
.module pre {
  padding: 0;
}
div.field-item_sort_positions {
  display: none !important;
}
.fs-inline {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}
.fs-inline li {
  list-style-type: none;
}
.fs-inline li[data-level="1"] {
  margin-left: 20px;
}
.fs-inline li[data-level="2"] {
  margin-left: 40px;
}
.fs-inline li[data-level="3"] {
  margin-left: 60px;
}
.fs-inline li[data-level="4"] {
  margin-left: 80px;
}
.fs-inline li {
  margin: 10px;
  margin-left: 0;
  background-color: #f9f9f9;
  list-style-type: none;
  list-style-image: none;
}
.fs-inline li table > span {
  display: block;
  padding: 5px;
}
.fs-inline th {
  font-size: 9px;
  font-weight: normal;
  font-family: Arial;
  color: #c3c3c3;
  text-shadow: none;
  background: none !important;
  background-color: #ededed !important;
}
.fs-inline td {
  vertical-align: middle;
  text-align: center;
}
.fs-inline td.field-get_item_thumb {
  width: 120px;
  text-align: center;
}
.fs-inline th.field-filename,
.fs-inline td.field-get_original_filename {
  width: 160px;
}
.fs-inline td.field-get_original_filename p {
  font-size: 9px;
  line-height: 1.2em;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  display: inline-block;
  padding: 0 6px;
  color: #969696;
}
.fs-inline td.field-get_sort_position p {
  font-size: 42px;
  font-family: sans-serif;
  color: #ebebeb;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
}
.fs-inline th.field-filer-file,
.fs-inline td.field-filer_file {
  display: none;
}
.uib-uiband {
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  min-height: 24px;
  background-color: rgba(255, 255, 255, 0.94);
  box-shadow: 0 -3px 20px rgba(60, 60, 60, 0.3);
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.uib-uiband ul,
.uib-uiband li {
  list-style-type: none;
  list-style-image: none;
}
.uib-uiband ul li,
.uib-uiband li li {
  list-style-type: none;
}
.uib-uiband ul li[data-level="1"],
.uib-uiband li li[data-level="1"] {
  margin-left: 20px;
}
.uib-uiband ul li[data-level="2"],
.uib-uiband li li[data-level="2"] {
  margin-left: 40px;
}
.uib-uiband ul li[data-level="3"],
.uib-uiband li li[data-level="3"] {
  margin-left: 60px;
}
.uib-uiband ul li[data-level="4"],
.uib-uiband li li[data-level="4"] {
  margin-left: 80px;
}
.uib-uiband ul {
  text-align: center;
}
.uib-uiband li {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  padding: 0;
}
.uib-uiband li.fs-feature-title {
  margin-right: 12px;
  color: #e6e6e6;
  font-weight: bold;
  font-size: 20px;
}
.uib-uiband li.fs-inline-help {
  margin-right: 4px;
}
.uib-uiband li.fs-inline-help i {
  font-size: 24px;
  color: #dcdcdc;
  padding-top: 3px;
}
.uib-uiband li a {
  display: block;
  padding: 4px 12px;
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
  text-decoration: none;
  text-shadow: 1px 1px 1px white;
}
.uib-uiband li a.ui-lock {
  opacity: .5;
  color: #282828;
}
.uib-uiband .uib-widget {
  overflow: hidden;
  height: 30px;
}
.uib-uiband .uib-widget-menu li {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  vertical-align: middle;
  box-sizing: border-box;
  color: #646464;
}
.uib-uiband .uib-widget-menu li.active {
  color: white;
  background-color: #3399b7;
}
.uib-uiband .uib-widget-menu li:hover {
  cursor: pointer;
}
.uib-region {
  box-sizing: border-box;
  overflow: hidden;
  height: 30px;
  margin: 0;
  padding: 0;
}
.uib-region-west {
  width: 10%;
  padding-left: 16px;
}
.uib-region-middle {
  width: 80%;
}
.uib-region-east {
  width: 10%;
  padding-right: 30px;
}
.uib-notice-container {
  text-align: right;
  color: #969696;
  font-size: 11px;
  font-family: Arial;
  padding-top: 6px;
}
.uib-notice-container i,
.uib-notice-container span {
  display: inline-block;
  vertical-align: middle;
}
.uib-notice-container i {
  color: #505050;
  font-size: 24px;
  margin-right: 6px;
}
.uib-notice-container i.fa-check {
  color: #4682b4;
}
.uib-notice-container i.fa-check-circle {
  color: #4682b4;
}
